/* header */
header{
    min-height: 100vh;
    background-color:beige;
}
.hero-imge{
    width: 80%;
}
/* navbar */
.navbar .login{
    width: 30%;
}
.navbar img{
    width: 25%;
}
.navbar button{
    border-radius: 10px;
    padding: 3%;
    background-color:#004c3fce ;
    color: #ffffff;
}
.navbar button:hover{
    background-color: #004c3ff6;
}
.navbar .nav-icon{
    display: none;
}

/* ---------media query----------- */
@media only screen and (max-width: 768px) {
  .navbar .nav-list{
    display: none;
  }
  .navbar .nav-icon{
    display: unset;
}
.navbar img{
    width: 35%;
}
.navbar{
    padding: 0 3%;
}
}